$font-family: 'Proxima Nova', "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
$font-height: 1.5;

//new stuff that i have used from other thing
.container {
  padding: 40px;
}

.login_button {
  text-align: right;
  margin-left: 950px;
}

.home_section {
  position: relative;
  z-index: 1;
  height: 600px;
}

.home_title {
  color: white;
  font-size: 80px;
  padding: 5px;
  background-color: #0099FF;
  margin-left: 20px;

}

.home_subtitle {
  color: white;
  font-size: 60px;
  padding: 5px;
  background-color: #0033FF;
  margin-left: 20px;
  margin-bottom: 80px;
  margin-right: 0px;

}

.home_section_bg {
  background-image: url("../static/makerspaceRed.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_section {
  position: relative;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: left;
}

.about_smalltitle {
  color: blue;
  font-size: 20px;
  padding: 20px;
}

.about_title {
  color: black;
  font-size: 60px;
  padding: 20px;
}

.about_subtitle {
  color: black;
  font-size: 20px;
  padding: 40px;
}

.section_padding {
  padding: 140px 0px;
}
